<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->



  <!-- Weight Column -->
  <ng-container matColumnDef="req_sender">
    <th mat-header-cell *matHeaderCellDef> sender </th>
    <td mat-cell *matCellDef="let element">{{element.req_sender}}
    <button mat-button (click)="accept_request(element.id)"><span style="margin:0 0 0 70%">
    <mat-icon>check</mat-icon>
    </span>
    </button> 
    <button mat-button (click)="reject_request(element.id)"><span style="margin:0 0 0 70%">
    <mat-icon>close</mat-icon>
    </span>
    </button> 
    </td>
  </ng-container>

 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

