.top{
    margin: 20% 20% 0 20%;
}


.bottom {
    margin:0% 20% 0 20%;
}

.sender{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:10% 0 10% 0 ;
  }

.example-full-width{
    width: 1000px;
}