

<div class="all">
 
<form [formGroup]="messageForm" (ngSubmit)="message()">
 
    <div class="container" style="margin:100px">
  <div class="msg">
     <mat-form-field class="example-full-width">
              <mat-label>...متن پیام</mat-label>
              <textarea matInput placeholder="...سلام، حال شما" formControlName="content"></textarea>
         </mat-form-field>
  </div>

  <div class="reciever">
    <mat-form-field appearance="fill">
    <mat-label>گیرنده</mat-label>
    <input matInput formControlName="to">
    </mat-form-field>
  </div>

  <div class="sendbtn">
  </div>
  <div class="show">
    
  <!--api.show_content(to)-->

  <mat-label> پیام ها </mat-label>
  
  <!--cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    
  </cdk-virtual-scroll-viewport--> 

   <li *ngFor="let m of messages" class="scroll">{{sender}} {{m}}</li>
   
 </div>

  <button mat-raised-button type="submit" color="primary">ارسال</button>
  <form (ngSubmit)="show_content()"> <button mat-raised-button type="submit" color="warn">نمایش پیام ها</button></form>


</div>
