.top{
    margin: 20% 20% 0 20%;
}


.bottom {
    margin:0% 20% 0 20%;
}

.sender{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:10% 0 10% 0 ;
  }

.example-full-width{
    width: 1000px;
}

.all{

    background-image: url("../../../assets/images/tennis-ball-chat.gif");
    height: 1000px;
}

.scroll{
   
    background-color: rgba(243, 130, 55, 0.384);
    
    list-style-type:none;
    font-size:15px;
    font-weight: bold;
    text-align: right;
    padding:5px 0 0 2px;

    width: 500px; 
    height: 110px; 
    overflow-x: hidden; 
    overflow-y: auto; 
}

