.parallax {
    /* The image used */
    background-image: url("../../../assets/images/enghelab_court.jpg");
  
    /* Set a specific height */
    min-height: 1000px;   
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-scroll3{
    height: 500px; 
    background: transparent url("../../../assets/images/federer-typhon2.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    float: left;
  }

.parallax-scroll4{

  /*The image used */
  background-image: url("../../../assets/images/top-background.png");
    
  /* Set a specific height */
  min-height: 1000px; 
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

h3 {
  font: 36px "Lato", sans-serif;
  color: #111;
  text-align: center;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 2px;
}

.table-title{

  font: 42px "Lato", sans-serif;
  font-weight: bold;
  color: #1a237e;
  text-align: center;
  padding: 8%;
  text-shadow: 3px 3px 1px rgba(255, 81, 0, 0.438);
  
}



.txt-middle{
  width: 100%;
  text-align: center;
  color: #fff;
}

.txt-middle p{
  font-weight: 900;
  letter-spacing: 0.08em;
  margin: 10%;
  font-size: 54px;
}

.container{
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}