<!-- <div class="main">
    <div class="header">
        <div class="back-img">
    <style>
    .parallax {
      /* The image used */
      background-image: url("../../../assets/images/medvedev-paris-2020-saturday-forehand.jpg");
    
      /* Set a specific height */
      min-height: 500px; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
            <img src="../../../assets/images/medvedev-paris-2020-saturday-forehand.jpg" alt="">

        </div>
        
    </div>

    <div class="container">
        <div class="table">
            <app-table></app-table>
        </div>
    </div>

    <div class="footer"></div>
</div>
 -->

<!-- <html>
<body>
    <div class="parallax-wrapper">

        <div class="content">

            <p>A book is a medium for recording information in the form of writing or images, typically composed of many pages (made of papyrus, parchment, vellum, or paper) bound together and protected by a cover.[1] The technical term for this physical arrangement is codex (plural, codices). In the history of hand-held physical supports for extended written compositions or records, the codex replaces its predecessor, the scroll.
                 A single sheet in a codex is a leaf and each side of a leaf is a page. </p>
        </div>
    </div>
    <div class="regular-wrapper">

        <div class="content">

            <p>As an intellectual object, a book is prototypically a composition of such great length that it takes a
                 considerable investment of time to compose and a still considerable,though not so extensive, investment of time to read. In a restricted sense,
                a book is a self-sufficient section or part of a longer composition, a usage that reflects the fact that.</p>
        </div>
    </div>

    <div class="regular-wrapper">

        <div class="content">

            <div class="container">
                <div class="table">
                    <app-table></app-table>
                </div>
            </div>
        </div>
    </div>

</body>
</html> -->


<div class="parallax">

</div>

<!-- <div class="parallax-scroll"></div> -->


<div class="parallax-scroll3">
<!--
      <mat-label>City</mat-label>
      <input matInput placeholder="Ex. San Francisco">
      <!--button  mat-button (click)="weather()">{{dataSource}}</button-->
      <div class="container">
        <div class="col-md-12">
            <div class="txt-middle">
                <p >از همین امروز شروع کن</p>
            </div>
        </div>
    </div>

 </div>

<div class="parallax-scroll4">
 
    <div class="table-ranking">
        
        <div class="table-title"  style="margin:0 0 20px 0">
            <p >برترین رنکینگ ایران</p>
            <p>در یک نگاه</p>
        </div>

        <div class="table-holder">
            <app-table></app-table>
        </div>

    </div>

</div>




