<div class = "navbar container"  *ngIf="loading ">  


  <table mat-table 
    [dataSource]="dataSource" multiTemplateDataRows
    class="mat-elevation-z8">
   <ng-container matColumnDef="iripin">
     <th  mat-header-cell *matHeaderCellDef class="ir" > iripin </th>
     <td mat-cell *matCellDef="let element" style="color:#1a237e;font-weight: bold;font-size: 90%"> {{element.iripin}} </td>
   </ng-container>
    
   
  
   <!-- Name Column -->
   <ng-container matColumnDef="first_name">
     <th  mat-header-cell *matHeaderCellDef class="thead" > نام </th>
     <td mat-cell *matCellDef="let element" class="tcell"> {{element.first_name}} </td>
   </ng-container>
  
   <ng-container matColumnDef="last_name">
     <th mat-header-cell *matHeaderCellDef class="thead"> نام خانوادگی </th>
     <td mat-cell *matCellDef="let element" class="tcell"> {{element.last_name}} </td>
   </ng-container>
  
   <ng-container matColumnDef="city">
     <th  mat-header-cell *matHeaderCellDef class="thead"> شهر </th>
     <td mat-cell *matCellDef="let element" class="tcell"> {{element.city}} </td>
   </ng-container>
  
   <ng-container matColumnDef="id" >
     <th  mat-header-cell *matHeaderCellDef class="thead"> شماره </th>
     <td mat-cell *matCellDef="let element" class="tcell"> {{element.id}}  </td>
   </ng-container>

 
   <!--ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> تصویر </th>
    <td mat-cell *matCellDef="let element"> </td>
   </ng-container-->
  
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
   <div class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
     <div class="element-diagram" >
       <img src="{{element.image}}" alt=""> 
      <!--p>image</p-->
     </div>
     
   </div>
  </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
   class="example-element-row"
   [class.example-expanded-row]="expandedElement === element"
   (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
 
  
  </div>
  