table {
  width: 100%;
  padding: 100px;
}
  
th.mat-sort-header-sorted {
  color: black;
}

.container{
  padding-top: 100px;
}

.body{
  background-image: url("../../../assets/images/rankingback.jpg");
}